.tblcontainer {
  padding: 1px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.tablewrapper {
  margin: 20px 15px 20px 15px;
}
.systemval {
  height: 36px;
  margin: 61px 34px 292px 186px;
  /* position: absolute; */
  color: #D23C3C;
}
.sourceval {
  height: 36px;
  position: absolute;
  color: #D23C3C;
}
.sourcbtn {
  position: absolute;
  height: 36px;
  /* width: 170px; */
  top: 70.33%;
  right: 14.27%;
  bottom: 2%;
  left: 74.84%;
}
.savechange {
  position: absolute;
  /* height: 36px; */
  /* width: 155px; */
  top: 70.33%;
  /* right: 1.27% ; */
  /* bottom: 2%; */
  /* left: 88.59%; */
}
/* //model box start */
.scroll {
  height: 260px;
  overflow: auto;
}
::ng-deep .mat-dialog-container {
  padding: 0px !important;
  background: #FFFFFF !important;
  border: 1px solid #009677 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25) !important;
  border-radius: 4px !important;
  /* height: 97% !important; */
}
.mat-dialog-title {
  height: 24px;
  width: 107px;
  position: absolute;
  left: 5.62%;
  right: 77.21%;
  top: 6.25%;
  bottom: 81.25%;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.025em;
  color: #009677;
}
.Nobutton {
  height: 36px;
  width: 100px;
  position: absolute;
  left: 5.62%;
  cursor: pointer;
  right: 86.2%;
  top: 85.52%;
  bottom: 1.73%;
  background: linear-gradient(360deg, #FFFFFF -5.56%, rgba(209, 209, 209, 0.94) 37.5%, #EDF2ED 70.83%, #FFFFFF 98.61%);
  border: 2px solid #A1A1A1;
  box-sizing: border-box;
  border-radius: 4px;
  text-transform: uppercase;
  color: #282828;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
.Nobutton:hover {
  background: linear-gradient(360deg, #FFFFFF -5.56%, rgba(209, 209, 209, 0.94) 37.5%, #EDF2ED 70.83%, #FFFFFF 98.61%);
  border: 2px solid #A1A1A1;
  box-sizing: border-box;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.Nobutton:focus {
  background: #CDCDCD;
  border: 2px solid #A1A1A1;
  box-sizing: border-box;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.yesbutton {
  height: 36px;
  width: 64px;
  top: 85.52%;
  bottom: 1.73%;
  left: 82.03%;
  right: 5.62%;
  cursor: pointer;
  position: absolute;
  background: linear-gradient(360deg, #A7E74D -5.56%, rgba(36, 151, 71, 0.94) 47.22%, #50B848 70.83%, #B7F8B2 98.61%);
  border: 2px solid rgba(63, 159, 56, 0.55);
  box-sizing: border-box;
  border-radius: 4px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
.yesbutton:hover {
  background: linear-gradient(360deg, #A7E74D -5.56%, rgba(36, 151, 71, 0.94) 47.22%, #50B848 70.83%, #B7F8B2 98.61%);
  border: 2px solid rgba(63, 159, 56, 0.55);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(63, 159, 56, 0.65);
  border-radius: 4px;
}
.yesbutton:focus {
  box-shadow: 0px 4px 4px 0px rgba(63, 159, 56, 0.65);
  background: #298E07;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid rgba(63, 159, 56, 0.55);
}
.popupTitle {
  font-family: Montserrat, sans-serif;
  width: 250px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.025em;
  color: #009677;
}
.souceId {
  height: 17px;
  width: 173px;
  position: absolute;
  margin: 30px 391px 331px 9px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.025em;
  color: #282828;
}
.sourceinput {
  height: 36px;
  width: 307px;
  margin: 25px 34px 292px 185px;
  border-radius: 4px;
  position: absolute;
  background: #E8F0FA;
  border: 1px solid #A7A9AC;
  box-sizing: border-box;
}
.sourcename {
  height: 17px;
  width: 156px;
  position: absolute;
  margin: 85px 391px 331px 10px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.025em;
  color: #282828;
}
.systeminput {
  height: 36px;
  width: 307px;
  margin: 80px 34px 292px 180px;
  border-radius: 4px;
  position: absolute;
  background: #E8F0FA;
  border: 1px solid #A7A9AC;
  box-sizing: border-box;
}
.souceId:after {
  content: " *";
  color: #ea1a00;
}
.Descbinput {
  height: 136px;
  width: 307px;
  margin: 82px 371px 331px 180px;
  border-radius: 4px;
  position: absolute;
  border: 1px solid #DCDDDE;
  box-sizing: border-box;
}
.amendbtn {
  position: absolute;
  width: 217px;
  left: 1.1%;
  right: 89.9%;
  top: 70.33%;
  bottom: 8.51%;
}
.titlediv {
  background: #ffffff;
}
.title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.025em;
  color: #009677;
}
.titletable {
  background: #F8F8F8;
  width: 100%;
  padding-top: 10px;
}
.middiv {
  margin-left: 5%;
  margin-right: 5%;
}
.inputform {
  width: 100%;
}
.tabletr {
  vertical-align: top !important;
}
.cancelbtn {
  margin-left: 24px;
}
.savebtn {
  margin-right: 24px;
}