<label class="page-title">Data Load > View Validation Error</label>
<div class="mainDiv">
    <div class="tblcontainer">
        <div class="tablewrapper">
            <div style="margin-bottom: 36px;">
                <table class="table2" mat-table [dataSource]="dataSource">
                    <caption></caption>
                    <ng-container *ngFor="let column of columnsFileTable;" [cdkColumnDef]="column.columnDef">
                        <ng-container *ngIf="column.columnDef === 'ErrorCount';else notSelect">
                            <th mat-header-cell *matHeaderCellDef id="">
                                {{ column.header }}
                            </th>
                            <td style="font-weight: 600; color:#D23C3C" mat-cell *matCellDef="let row">
                                {{ column.cell(row) }}
                            </td>
                        </ng-container>
                        <ng-template #notSelect>
                            <th mat-header-cell *cdkHeaderCellDef id="">{{ column.header }}</th>
                            <td mat-cell *cdkCellDef="let row">
                                <div *ngIf="column.header=='Tax Period'">
                                    <ng-container>
                                        <div *ngIf="row.TaxYears?.length > 1">
                                            <p [matMenuTriggerFor]="menu">
                                                <span *ngIf="row.strTaxYears?.length > 1"
                                                    style="color: #282828; font-weight: 900; cursor: pointer">
                                                    Multiple
                                                </span>
                                            </p>
                                        </div>
                                        <div *ngIf="row.strTaxYears==null">
                                            <p>{{row.taxperiod}}</p>
                                        </div>
                                    </ng-container>
                                    <mat-menu yPosition="above" xPosition="after"
                                        class="matPASMenuTaxPeriodValidationError" #menu="matMenu">
                                        <span class="spanMenuTaxPeriod">{{row.TaxYears}}</span>
                                    </mat-menu>
                                </div>
                                <div *ngIf="column.header!='Tax Period'">
                                    <p> {{ column.cell(row) }}</p>
                                </div>
                            </td>
                        </ng-template>
                    </ng-container>
                    <tr mat-header-row class="tableHeader" *matHeaderRowDef="columnsToDisplayFileTable">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplayFileTable"></tr>
                </table>
                <span *ngIf="isMissingDataExists" class="missinfoSpan">Missing Information</span>
                <div *ngIf="isMissingDataExists" class="scroll-container" style="overflow-x: auto;">


                    <table class="table1" mat-table [dataSource]="dataSourceMissingInformation"
                        *ngIf="dataSourceMissingInformation.filteredData.length>0">
                        <caption></caption>
                        <ng-container *ngFor="let column of columnsMissingInformationTable;let i = index"
                            [cdkColumnDef]="column.columnDef">
                            <ng-container *ngIf="column.columnDef === 'Action'; else notSelect">
                                <th id=""  mat-header-cell *matHeaderCellDef>
                                    {{ column.header }}
                                </th>
                                <td  mat-cell *matCellDef="let row">
                                    <button class="btn-add-info" mat-raised-button (click)="addInfo(row)">

                                        <label>ADD Information</label>

                                    </button>

                                </td>
                            </ng-container>
                            <ng-template #notSelect>
                                <th mat-header-cell *matHeaderCellDef id="">
                                    {{ column.header }}
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ column.cell(row)}}
                                </td>
                            </ng-template>
                        </ng-container>
                        <tr mat-header-row class="tableHeader"
                            *matHeaderRowDef="columnsToDisplayMissingInformationTable">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToDisplayMissingInformationTable| paginate
          : {                                                       
            itemsPerPage: size,
            currentPage: pageIndexMissingInfo,
              totalItems: totalRecordsMissingInfo                                                                                                          
            }" [ngClass]="{highlighted: selection.isSelected(row)}"></tr>
                    </table>
                </div>
                <div style="padding-top:50px;font-family: Montserrat,sans-serif;font-size: 18px;font-weight: 500;text-align: center;"
                    *ngIf="dataSourceMissingInformation.filteredData.length === 0 && isMissingDataExists"><img
                        src="assets/images/Group 2223.png" alt="assets/images/Group 2223.png" />
                </div>
                <div class="pegidiv" *ngIf="dataSourceMissingInformation.filteredData.length>0">
                    <pagination-controls (pageChange)="p = $event; paginateMissingInfo(p)"
                        [directionLinks]="directionLinks" class="pagination" [previousLabel]="labels.previousLabel"
                        [nextLabel]="labels.nextLabel">
                    </pagination-controls>
                </div>
                <div *ngIf="!isMissingDataExists" class="scroll-container" style="overflow-x: auto;">
                    <table class="table1" mat-table [dataSource]="dataSourceChild"
                        *ngIf="dataSourceChild.filteredData.length>0">
                        <caption></caption>
                        <ng-container *ngFor="let column of columns;let i = index" [cdkColumnDef]="column.columnDef">
                            <ng-container *ngIf="column.columnDef === 'row_id';else notSelect">
                                <th mat-header-cell *matHeaderCellDef id="">
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        (change)="errorsToUpdateDelete()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row" style="padding-top: 0%;">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)" (change)="errorsToUpdateDelete()">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-template #notSelect>
                                <ng-container *ngFor="let error1 of errorFields;">
                                    <ng-container *ngIf="error1.error_col.includes(column.columnDef);else notSelect1">
                                        <th mat-header-cell *matHeaderCellDef id="">
                                            {{ column.header }}
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                            <ng-container *ngFor="let error of errorFields;">
                                                <ng-container
                                                    *ngIf="error.error_col.includes(column.columnDef);else notError">
                                                    <input type="text" [id]="row[column.columnDef]" class="input-edit"
                                                        *ngIf="isAmmendClicked && row.row_id==error.row_id&&rowIds.includes(row.row_id);else abc"
                                                        matInput [(ngModel)]='row[column.columnDef]'
                                                        [value]='row[column.columnDef]' placeholder="Enter Your Data">
                                                    <ng-template #abc>
                                                        <span #abc *ngIf="row.row_id==error.row_id"
                                                            style="color: #D23C3C; cursor: pointer;"
                                                            [matMenuTriggerFor]="menu">
                                                            {{ column.cell(row).length==0?'Empty':column.cell(row)}}
                                                        </span>
                                                    </ng-template>
                                                </ng-container>
                                                <mat-menu class="matPASMenuDiv" #menu="matMenu" [overlapTrigger]="false"
                                                    yPosition="above" xPosition="after">
                                                    <div style="padding: 8px;">
                                                        <div class="matPASMenuErrorDesc" mat-menu-item
                                                            style="white-space: normal"
                                                            *ngFor="let errorDesc of errorDescription;">
                                                            <tr *ngIf="error.row_id==errorDesc.row_id && error.error_col.includes(errorDesc.error_col) &&errorDesc.error_col== column.columnDef"
                                                                style="margin-top: 5px;">
                                                                <td>
                                                                    <img alt="assets/images/ErrorDescription.png"
                                                                        src="assets/images/ErrorDescription.png"
                                                                        style="margin-right:12px; margin-left: 11px;" />
                                                                </td>
                                                                <td style="vertical-align: top;">
                                                                    {{errorDesc.error_description}}
                                                                </td>
                                                            </tr>
                                                        </div>
                                                    </div>
                                                </mat-menu>
                                                <ng-template #notError>
                                                    <span *ngIf="row.row_id==error.row_id">{{ column.cell(row)
                                                        }}</span>
                                                </ng-template>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                </ng-container>
                                <ng-template #notSelect1>
                                    <th mat-header-cell *matHeaderCellDef id="">
                                        {{ column.header }}
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ column.cell(row).length==0?'Empty':column.cell(row)}}
                                    </td>
                                </ng-template>
                            </ng-template>
                        </ng-container>
                        <tr mat-header-row class="tableHeader" *matHeaderRowDef="displayedColumns">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns| paginate
              : {                                                       
                  itemsPerPage: size,
                  currentPage: pageIndex,
                  totalItems: displayedColumns.length==totalRecords?totalRecords+1:totalRecords                                                                                                          
                }" [ngClass]="{highlighted: selection.isSelected(row)}"></tr>
                    </table>
                </div>
                <div style="padding-top:50px;font-family: Montserrat,sans-serif;font-size: 18px;font-weight: 500;text-align: center;"
                    *ngIf="dataSourceChild.filteredData.length === 0 && !isMissingDataExists"><img
                        src="assets/images/Group 2223.png" alt="assets/images/Group 2223.png" />
                </div>
                <div class="pegidiv" *ngIf="dataSourceChild.filteredData.length>0">
                    <pagination-controls  (pageChange)="p = $event; paginate(p)" [directionLinks]="directionLinks"
                        class="pagination" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%;margin-top: 20px;margin-bottom: 20px;" class="row ">



        <div class="col-1 ">




            <button style="float: left;margin-left: 15px;" [hidden]="!isSelectedDelete" class="btn-secondary-default "
                mat-raised-button (click)="deleteErrorRecords()">

                <label>Delete</label>

            </button>









        </div>

        <div class="col-11 " style="padding-right: 3px;">

            <button style="float: right;" class="btn-primary-default" mat-button (click)="navigateToManualDataLoad()">

                <label>Back to Data load</label>

            </button>



            <button style="float: right;margin-right: 30px;" class="btn-primary-default" mat-button
                (click)="DataLoadErrorReport()">

                <label>File Error Report</label>

            </button>

            <button [hidden]="!isSelectedDelete" style="float: right;margin-right: 30px;" class="btn-primary-default"
                mat-button (click)="ammendError()">

                <label>Amend</label>

            </button>



            <button [hidden]="!isAmmendClicked" style="float: right;margin-right: 30px;" class="btn-primary-default"
                mat-button (click)="saveError()">

                <label>Save</label>

            </button>



        </div>

    </div>
</div>
<ngx-loading [show]="loading" [template]="loadingTemplate"></ngx-loading>