<label class="page-title">Correspondance</label>
<img alt="" title="Refresh" style="cursor: pointer;" class="refreshIcon" [@rotatedState]="state" (click)="rotate()"
  src="assets/images/Group 46.png" />
<div class="mainDiv">
  <div class="middle-strip1">
    <div>
      <form [formGroup]="correspondanceDataSearchForm">
        <table style="width: 100%;">
          <caption></caption>
          <th id=""></th>
          <tr style="width: 100%;">
            <td style="width: 20%;padding-left: 30px;">
              <label class="lblstatus">Brand <span class="required_star">*</span></label>
              <mat-select [formControlName]="'brand'" required class="input-default" multiple
                disableOptionCentering disableRipple [ngClass]="statusddl2 ? 'ddl2 ddl2-ddlopen' : 'ddl2 ddl2-ddlclose'"
                placeholder="Select" panelClass="myPanelClass3DLH" (openedChange)="toggleArrow2()">
                <mat-select-trigger>
                  {{correspondanceDataSearchForm.controls.brand.value.length>Brand.length ? 'All' : ''}}
                  <span *ngIf="correspondanceDataSearchForm.controls.brand.value.length < Brand.length"
                    class="example-additional-selection">

                    <span *ngFor="let m of correspondanceDataSearchForm.controls.brand.value; let i=index">
                      <span *ngIf="i!=0">,</span><span> {{m.Name}}</span>
                    </span>
                  </span>
                </mat-select-trigger>


                <mat-option #allSelected4 (click)="toggleAllBrandType()" [value]="0">All</mat-option>
                <mat-option *ngFor="let brand of Brand" [value]="brand" (click)="toggleBrandType()">
                  {{brand.Name}}
                </mat-option>
              </mat-select>
            </td>

            <td style="width: 20%;padding-left: 30px;">
              <label class="lblstatus">Correspondance Type <span class="required_star">*</span></label>
              <mat-select [formControlName]="'correspondence_type'" required class="input-default" multiple
                disableOptionCentering disableRipple [ngClass]="statusddl3 ? 'ddl3 ddl3-ddlopen' : 'ddl3 ddl3-ddlclose'"
                placeholder="Select" panelClass="myPanelClass3DLH" (openedChange)="toggleArrow3()">
                <mat-select-trigger>
                  {{correspondanceDataSearchForm.controls.correspondence_type.value.length>correspondance.length ? 'All' : ''}}
                  <span *ngIf="correspondanceDataSearchForm.controls.correspondence_type.value.length < correspondance.length"
                    class="example-additional-selection">

                    <span *ngFor="let m of correspondanceDataSearchForm.controls.correspondence_type.value; let i=index">
                      <span *ngIf="i!=0">,</span><span> {{m.Status_Description}}</span>
                    </span>
                  </span>
                </mat-select-trigger>


                <mat-option #allSelected3 (click)="toggleAllCorrespondanceType()" [value]="0">All</mat-option>
                <mat-option *ngFor="let correspondance of correspondance" [value]="correspondance" (click)="toggleCorrespondanceType()">
                  {{correspondance.Status_Description}}
                </mat-option>
              </mat-select>
            </td>

            <td style="width: 20%;padding-left: 15px;">
              <label style="left: 1.2% !important;" class="lblstatus">TEST/PROD <span
                  class="required_star">*</span></label>
              <mat-select [formControlName]="'file_type'" required class="input-default" multiple disableOptionCentering
                disableRipple [ngClass]="statusddl ? 'ddl form-control ddl-ddlopen' : 'ddl form-control ddl-ddlclose'"
                placeholder="Select" panelClass="myPanelClassFileTypeDLH" (openedChange)="toggleArrow()">

                <mat-select-trigger>

                  {{correspondanceDataSearchForm.controls.file_type.value.length>fileRegion.length ? 'All' : ''}}
                  <span *ngIf="correspondanceDataSearchForm.controls.file_type.value.length < fileRegion.length"
                    class="example-additional-selection">

                    <span *ngFor="let m of correspondanceDataSearchForm.controls.file_type.value; let i=index">
                      <span *ngIf="i!=0">,</span><span> {{m.Status_Description}}</span>
                    </span>
                  </span>
                </mat-select-trigger>

                <mat-option #allSelected (click)="toggleAllFileType()" [value]="0">All</mat-option>
                <mat-option *ngFor="let filedetail of fileRegion" [value]="filedetail" (click)="tossleFileType()">
                  {{filedetail.Status_Description}}
                </mat-option>
              </mat-select>

            </td>
            <td style="width: 20%;padding-left: 30px;">
              <label class="lblstatus">Status <span class="required_star">*</span></label>
              <mat-select [formControlName]="'status'" required class="input-default" multiple disableOptionCentering
                disableRipple [ngClass]="statusddl1 ? 'ddl1 ddl1-ddlopen' : 'ddl1 ddl1-ddlclose'" placeholder="Select"
                panelClass="myPanelClassStatusDLH" (openedChange)="toggleArrow1()">

                <mat-select-trigger>
                  {{correspondanceDataSearchForm.controls.status.value.length>Status_Types.length ? 'All' : ''}}
                  <span *ngIf="correspondanceDataSearchForm.controls.status.value.length < Status_Types.length"
                    class="example-additional-selection">

                    <span *ngFor="let m of correspondanceDataSearchForm.controls.status.value; let i=index">
                      <span *ngIf="i!=0">,</span><span> {{m.Name}}</span>
                    </span>
                  </span>
                </mat-select-trigger>

                <mat-option #allSelected2 (click)="toggleAllStatus()" [value]="0">All</mat-option>
                <mat-option *ngFor="let status of Status_Types" [value]="status" (click)="toggleStatus()">
                  {{status.Name}}
                </mat-option>
              </mat-select>
            </td>

            

            <td style="padding-left: 30px;">
              <button style="margin-top: 29px;" class="btn-primary-default"
                (click)="getCorrespondanceData()"><label>Search</label></button>
            </td>
          </tr>
        </table>
      </form>


    </div>

  </div>
  <div class="tblcontainer">
    <div class="tablewrapper">
      <table class="table1" mat-table [dataSource]="dataSource" *ngIf="dataSource.filteredData.length>0">
        <caption></caption>
          <th id=""></th>
        <ng-container *ngFor="let column of columns;" [cdkColumnDef]="column.columnDef">
          <ng-container *ngIf="column.columnDef === 'status_flag';else notSelect">
            <th id="" mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" disableRipple
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" (change)="filesToDelete()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" style="padding-top: 0%;">
              <mat-checkbox disableRipple (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                (change)="filesToDelete()">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container *ngIf="column.columnDef === 'status'; else notSelect">
            <th id="" mat-header-cell *matHeaderCellDef>
              {{ column.header }}
            </th>
            <td style="font-weight: 700;" mat-cell *matCellDef="let row" [ngStyle]="{'color': 
                arrColorAmber.includes(row.status_code) ? '#E98523':                               
                arrColorGreen.includes(row.status_code) ? '#009677':
                arrColorBlue.includes(row.status_code) ? '#0098B8':
                arrColorRed.includes(row.status_code)? '#FC0A0A':'#282828'
                }">
              {{ column.cell(row) }}
            </td>
          </ng-container>
          <ng-template #notSelect>
            <th id=""  mat-header-cell *cdkHeaderCellDef>{{ column.header }}</th>
            <td mat-cell *cdkCellDef="let row">
              {{ column.cell(row) }}
            </td>
          </ng-template>
        </ng-container>
        <tr mat-header-row class="tableHeader" *matHeaderRowDef="columnsToDisplay">
        </tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay| paginate
                                                : {                                                       
                                                    itemsPerPage: size,
                                                    currentPage: pageIndex,
                                                    totalItems: columnsToDisplay.length==totalRecords?totalRecords+1:totalRecords                                                                                                          
                                                  }" [ngClass]="{highlighted: selection.isSelected(row)}"></tr>
      </table>
      <div style="padding-top:50px;font-family: Montserrat,sans-serif;font-size: 18px;font-weight: 500;text-align: center;"
        *ngIf="dataSource.filteredData.length === 0"><img alt="" src="assets/images/Group 2223.png" />
      </div>
      <div class="pegidiv" *ngIf="dataSource.filteredData.length>0">
        <pagination-controls (pageChange)="p = $event; paginate(p)" [directionLinks]="directionLinks" class="pagination"
          [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel">
        </pagination-controls>
      </div>
    </div>
  </div>



  <div style="width: 100%;margin-top: 20px;margin-bottom: 20px;" class="row ">

    <div class="col-1 ">


      <button style="float: left;margin-left: 15px;" [hidden]="!isSelectedDelete" (click)="deleteDialog()"
        class="btn-secondary-default" mat-raised-button>
        <label>Delete</label>
      </button>
      <button  style="float: left;margin-left: 30px;" [hidden]="!isSelectedSingleToDownload" class="btn-secondary-default "
      (click)="downloadFile()" mat-raised-button>
      <label >Download</label>
    </button>


    </div>
    <div class="col-11" style="padding-right: 3px;">
      <button [hidden]="!isViewSamples" class="btn-primary-default" style="float: right;margin-right: 30px;"
         mat-button>
        <label>View Samples</label>
      </button>
     
      <button class="btn-primary-default " [hidden]="!isSelectedSingleToGenerate" style="float: right;margin-right: 30px;"
      (click)="generateFile()" mat-button>
        <label>Generate</label>
      </button>
      <button class="btn-primary-default " [hidden]="!isSelectedSingleToReGenerate" style="float: right;margin-right: 30px;"
      (click)="generateFile()" mat-button>
        <label>Regenerate</label>
      </button>
     
      
      <button [hidden]="!isViewError" style="float: right;margin-right: 30px;" (click)="viewErrorReport()"
        class="btn-primary-default " mat-button>
        <label>View Error</label>
      </button>
      <button [hidden]="!isPreviewCorrespondance" style="float: right;margin-right: 30px;" class="btn-primary-default "
        mat-button>
        <label>View Correspondance Preview</label>
      </button>

      <button [hidden]="!isFileOverview" class="btn-primary-default " style="float: right;margin-right: 30px;"
        mat-button>
        <label>View File Overview</label>
      </button>

      <button [hidden]="!isReleaseForPrinting" class="btn-primary-default" style="float: right;margin-right: 30px;"
      mat-button>
     <label>Release For Printing</label>
   </button>
   <button [hidden]="!isRelease" class="btn-primary-default" style="float: right;margin-right: 30px;"
   mat-button>
  <label>Release</label>
</button>
  
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [template]="loadingTemplate"></ngx-loading>