<div class="titlediv">
  <table class="titletable" style="width: 100% ;">
    <caption></caption>
    <th id=""></th>
    <tr>
      <td style="width: 100%;padding-left: 5%;">
        <p class="title">
          {{isUpdatebtn? 'Update' : 'Add a New'}} Source System
        </p>
      </td>
    </tr>
  </table>
</div>
<div class="scroll">
  <div class="middiv ">
    <form [formGroup]="registerForm">
      <table style="width: 100%;">
        <caption></caption>
        <th id=""></th>
        <tr style="height: 18px;">
        </tr>
        <tr class="tabletr">
          <td style="width: 30%;">
            <label class="formlbl">
              <p>Source System Name<span class="required_star">*</span></p>
            </label>
          </td>
          <td style="width: 70%;">
            <input [readonly]="srcName_readonly" title="{{this.validation.validationsArray.sourceSystem.addSourceSystem.sourceSystemName.pattern}}"
              type="text" class="input-default inputform" formControlName="lookup_value_name"
              [ngClass]="{ 'is-invalid': f.lookup_value_name.errors  && (registerForm.controls.lookup_value_name.touched || registerForm.controls.lookup_value_name.dirty) }" />
            <div
              *ngIf=" f.lookup_value_name.errors  && (registerForm.controls.lookup_value_name.touched || registerForm.controls.lookup_value_name.dirty)"
              class="invalid-feedback">
              <div
                *ngIf="f.lookup_value_name.errors.required && (registerForm.controls.lookup_value_name.touched || registerForm.controls.lookup_value_name.dirty)">
        <tr>
          <td class="valerrortxt">
            <img class="errorIcon" src="assets/images/Icon_Error.png" alt="assets/images/Icon_Error.png" />
          </td>
          <td class="valerrortxt">
            Source system name is required.
          </td>
        </tr>
  </div>
  <div
    *ngIf="f.lookup_value_name.errors.pattern && (registerForm.controls.lookup_value_name.touched || registerForm.controls.lookup_value_name.dirty)">
    <tr>
      <td class="valerrortxt">
        <img class="errorIcon" src="assets/images/Icon_Error.png" alt="assets/images/Icon_Error.png" />
      </td>
      <td class="valerrortxt">
        {{validation.validationsArray.sourceSystem.addSourceSystem.sourceSystemName.patternMsg}}
      </td>
    </tr>
  </div>
  <div
    *ngIf="f.lookup_value_name.errors.maxlength &&(registerForm.controls.lookup_value_name.touched || registerForm.controls.lookup_value_name.dirty)">
    <tr>
      <td class="valerrortxt">
        <img class="errorIcon" src="assets/images/Icon_Error.png" alt="assets/images/Icon_Error.png" />
      </td>
      <td class="valerrortxt">
        {{validation.validationsArray.sourceSystem.addSourceSystem.sourceSystemName.maxLengthMsg}}
      </td>
    </tr>
  </div>
  <div
    *ngIf="f.lookup_value_name.errors.minlength && (registerForm.controls.lookup_value_name.touched || registerForm.controls.lookup_value_name.dirty)">
    <tr>
      <td class="valerrortxt">
        <img class="errorIcon" src="./assets/images/Icon_Error.png" alt="assets/images/Icon_Error.png" />
      </td>
      <td class="valerrortxt">
        {{validation.validationsArray.sourceSystem.addSourceSystem.sourceSystemName.minLengthMsg}}
      </td>
    </tr>
  </div>
</div>
</td>
</tr>
<tr style="height: 12px;">
</tr>
<tr class="tabletr">
  <td style="width: 30%;">
    <label class="formlbl">Description</label>
  </td>
  <td style="width: 70%;">
    <textarea type="textarea" style="height: 136px;resize: vertical" Rows="5" class="input-default inputform"
      formControlName="lookup_value_description"
      [ngClass]="{ 'is-invalid': f.lookup_value_description.errors  && (registerForm.controls.lookup_value_description.touched || registerForm.controls.lookup_value_description.dirty) }">
          </textarea>
    <div
      *ngIf=" f.lookup_value_description.errors  && (registerForm.controls.lookup_value_description.touched || registerForm.controls.lookup_value_description.dirty)"
      class="invalid-feedback">
      <div
        *ngIf="f.lookup_value_description.errors.pattern && (registerForm.controls.lookup_value_description.touched || registerForm.controls.lookup_value_description.dirty)">
<tr>
  <td class="valerrortxt">
    <img class="errorIcon" src="assets/images/Icon_Error.png" alt="assets/images/Icon_Error.png" />
  </td>
  <td class="valerrortxt">
    {{validation.validationsArray.sourceSystem.addSourceSystem.sourceSystemDescription.patternMsg}}
  </td>
</tr>
</div>
<div
  *ngIf="f.lookup_value_description.errors.maxlength &&(registerForm.controls.lookup_value_description.touched || registerForm.controls.lookup_value_description.dirty)">
  <tr>
    <td class="valerrortxt">
      <img class="errorIcon" src="assets/images/Icon_Error.png" alt="assets/images/Icon_Error.png" />
    </td>
    <td class="valerrortxt">
      {{validation.validationsArray.sourceSystem.addSourceSystem.sourceSystemDescription.maxLengthMsg}}
    </td>
  </tr>
</div>
<div
  *ngIf="f.lookup_value_description.errors.minlength && (registerForm.controls.lookup_value_description.touched || registerForm.controls.lookup_value_description.dirty)">
  <tr>
    <td class="valerrortxt">
      <img class="errorIcon" src="assets/images/Icon_Error.png" alt="assets/images/Icon_Error.png" />
    </td>
    <td class="valerrortxt">
      {{validation.validationsArray.sourceSystem.addSourceSystem.sourceSystemDescription.minLengthMsg}}
    </td>
  </tr>
</div>
</div>
</td>
</tr>
<tr style="height: 24px;">
</tr>
</table>
</form>
</div>
</div>
<table style="    padding-bottom: 10px;" class="titletable">
  <caption></caption>
  <th id=""></th>
  <tr style="width: 100%;">
    <td>
      <button class="btn-secondary-default cancelbtn" mat-raised-button
        (click)="onNoClick()"><label>Cancel</label></button>
    </td>
    <td style="float: right;">
      <button *ngIf="!isUpdatebtn" (click)="addSourceSystem()" class="btn-primary-default savebtn" mat-raised-button
        [disabled]="registerForm.invalid"><label>Add</label></button>
      <button *ngIf="isUpdatebtn" (click)="addSourceSystem()" class="btn-primary-default savebtn" mat-raised-button
        [disabled]="textChanged==false || registerForm.invalid"><label>Update</label></button>
    </td>
  </tr>
</table>
<ngx-loading [show]="loading" [template]="loadingTemplate"></ngx-loading>