<label class="page-title">Source System</label>
<div class="mainDiv">
  <div class="tblcontainer">
    <div class="tablewrapper">
      <!-- data table start -->
      <app-data-table (newUserEvent)="SelectcheckBoxChnage($event)" [tableData]="tableData" [columns]="columns"
        (cerrentPageEvent)="SelectCurrentPage($event)" [totalRowdata]="totalRowdata"
        [columnsToDisplay]="columnsToDisplay" [isSelectAllEnabled]='false'>
      </app-data-table>
      <!-- data table end -->
      <div
        style="padding-top:50px;font-family: Montserrat,sans-serif;font-size: 18px;font-weight: 500;text-align: center;"
        *ngIf="tableData.length === 0"> <img src="assets/images/Group 2223.png" alt="assets/images/Group 2223.png" />
        <p *ngIf="tableData.length === 0" class="zeroStateText">Add source system.</p>
      </div>
    </div>

  </div>
  <div style="width: 100%;" class="row ">
    <div style="padding-right: 0px;margin-top: 20px;margin-bottom: 20px;" class="col-12 ">
      <button style="float: right" class=" btn-primary-default" (click)="AddSourcePop()" mat-button>
        <label>Add Source System</label>
      </button>
      <button style="float: right;margin-right: 30px;" class="btn-primary-default" [disabled]="!isSelectedSaveChange"
        (click)="SavechangeSource()" mat-button>
        <label>Save Changes</label>
      </button>
    </div>
  </div>
  <!-- loading section start -->
  <ngx-loading [show]="loading" [template]="loadingTemplate"></ngx-loading>
  <!-- loading section end -->