<mat-dialog-content>
  <div class="titlediv">
    <table class="titletable" style="width: 100% ;">
      <caption></caption>
      <th id=""></th>
      <tr>
        <td style="width: 30%;padding-left: 34px;">
          <p class="title">
            Sign Off
          </p>
        </td>
      </tr>
    </table>
  </div>
  <div class="middiv ">
    <tr>
      <td>
        <img src="assets//images/signoff.png" alt="assets//images/signoff.png" style="margin-right:10px ;height: 20px;
      width: 22px;" />
      </td>
      <td>
        <p class="deleteMessageP">
          Are you sure you want to sign off the selected File?
        </p>
      </td>
    </tr>
  </div>
</mat-dialog-content>

<table style="padding-bottom: 10px;" class="titletable">
  <caption></caption>
  <th id=""></th>
  <tr style="width: 100%;">
    <td>
      <button class="btn-secondary-default cancelbtn" mat-raised-button
        (click)="onCloseClick()"><label>NO</label></button>
    </td>
    <td style="float: right;">
      <button class="btn-primary-default savebtn" mat-raised-button
        (click)="onConfirmClick()"><label>YES</label></button>

    </td>
  </tr>
</table>